body {
    background-color: #eee;
}

/* Anchos generales para todas las paginas */
.width-95 {
    max-width: 95%;
}

.width-general {
    max-width: 1440px;
}

/* Titulos */
h2 {
    color: #374151;
    font-size: 24px;
}

/* Botones */
.btn {
    transition: all .3s ease;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-dark {
    background: #1e293b;
    color: #fff;
    line-height: 1.8rem;
    border: 1px solid #1e293b;
}

.btn-dark-outline {
    display: inline-flex;
    background: white;
    border: 1px solid #1e293b;
    color: #1e293b;
    line-height: 1.8rem;
}

.material-icons {
    color: #1e293b;
}

.eliminar {
    color: red;
}

.send {
    color: #059669;
}

.editar {
    color: orange;
}

button[disabled] span,
button[disabled] i {
    opacity: 0.4;
}

/* Tablas */
.table-head {
    background: #1e293b;
    color: white;
}

.content-table {
    overflow-x: auto;
}

.content-table tr {
    line-height: 3rem;
}

.content-table th,
.content-table td {
    padding-left: 16px;
    white-space: nowrap;
    vertical-align: text-top;
}

.content-table td {
    color: #4f5464;
}

/* Paginacion */
.pagination li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.pagination li .page-link {
    border-radius: 0.25rem;
    border: none;
    min-width: 2.25rem;
    text-align: center;
    color: #4f5464;
}

.pagination li.active .page-link,
.pagination li .page-link:hover {
    background-color: #1e293b;
    color: #fff;
    font-weight: bold;
}